<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark default-color ie-nav" [containerInside]="false">
  <mdb-navbar-brand>
    <a class="logo navbar-brand" routerLink="/welcome">
      <strong>Doe Mais - O bem faz bem!</strong>
    </a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="login" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="register-user" routerLinkActive="active">Registre-se</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item waves-light py-1 mx-3" mdbWavesEffect>
        <a class="nav-link" routerLink="list-user" routerLinkActive="active">Usuários</a>
      </li>
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdowntoggle waves-light" mdbWavesEffect>
          <img src="../../assets/img/man.png" class="img-fluid rounded-circle z-depth-0">
          <span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect (click)="logout()">Sair</a>
        </div>
      </li>
    </ul>
  </links>
</mdb-navbar>