/* You can add global styles to this file, and also import other style files */
.ng-valid[required], .ng-valid.required {
    border-left: 5px solid rgba(32, 77, 32, 0.623);
   }
   .ng-invalid:not(form) {
    border-left: 5px solid rgb(148, 27, 27);
   }
   #toast-container > div {
    opacity:1;
   }